@model Employement_Project_MVC.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<center>
    <div class="panel panel-body" style="width:50%;margin-top:60px" >
        <center>
            <h4>انشاء فئة جديدة </h4>
            <br />
            <img  src="~/Uploads/Create.jpg" style="width:200px;height:200px;border-radius:50%"/>
            <br />
        </center> 

        <div class="col-sm-12" style="background-color: azure; padding: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
           

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryDiscraption, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CategoryDiscraption, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CategoryDiscraption, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            <input type="submit" value="انشاء" class="btn btn-success" id="save" />
                            @if (ViewBag.Role == "admins")
                            {

                                <a class="btn btn-info" href="/Admin/Admin">Back!</a>
                            }
                            else
                            {
                                <a class="btn btn-info" href="">Back!</a>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</center>



    

    
    
    
