@model Employement_Project_MVC.Models.ApplayForJob

@{
    ViewBag.Title = "Applay";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>


@using (Html.BeginForm("Applay", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
       
<div class="form-horizontal">

    <div class="alert alert-danger" id="erro" style="display:none">
        <center>        <span id="view-erro"></span></center>
    </div>
    <div class="alert alert-success" id="erro">
        <center>        <span id="view-erro">@ViewBag.result</span></center>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger", enctype = "multipart/form-data" })


    <div class="form-group">
        @Html.LabelFor(model => model.CvApplay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="CV" id="CV" value="قم برفع السيرة الذاتية" class="form-control" />
            @Html.ValidationMessageFor(model => model.CvApplay, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Message, new { id = "message" })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(model => model.LinksGlary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LinksGlary, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LinksGlary, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <input type="submit" value="ارسال" class="btn btn-success btn-block" id="checkCv" />
        </div>
    </div>



</div>
        }
        <div class="back">
            <a href="~/Jobs/Index" class="btn btn-danger btn-block">العودة للقائمة</a>

        </div>

        <script>
            document.getElementById("checkCv").onclick = function (event) {
              
                var exCv = ["pdf", "doc","docx"]
                var CvName = document.getElementById("CV").value;
       
                if (!exCv.includes(CvName.substr(CvName.lastIndexOf('.') + 1))){
                    event.preventDefault();
                    document.getElementById("erro").style.display = '';
                    document.getElementById("view-erro").textContent = "رجاء تحميل ملف ذو امتداد pdf, ppt, docx ";
                }
                if (CvName == "") {
                    event.preventDefault();
                    document.getElementById("erro").style.display = '';
                    document.getElementById("view-erro").textContent = "الرجاء تحميل cv";
                }
            }

            CKEDITOR.replace("message")




        </script>
