@model Employement_Project_MVC.Models.Job
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="Contianer_Detials">
    <div class="container">
        <div class="Row">
            <div class="panel panel-info panel_detials">
                <h2>@Model.SreachEngigJob</h2>
                <p>@Model.cat.CategoryName/@Model.JobTtile </p>
            </div>
            <hr />
            <div class="col-sm-9 detials_div ">
                <div class="">

                    <img src="~/Uploads/@Html.DisplayFor(model => model.JobImage) " class="detials_img" />
                    <hr />
                    <hr />
                    <p>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.JobContent).ToString()))</p>

                    @using (Html.BeginForm("Delete", "Jobs", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <center><input class="btn-danger btn-block" type="submit" value="حذف" /></center>
                        if (ViewBag.Role == "admins")
                        {

                            <a class="btn btn-info" href="/Admin/Admin">Back!</a>
                        }
                        else
                        {
                            <a class="btn btn-info" href="~/Jobs/Index">Back!</a>
                        }
                    }

                </div>
            </div>
          
        </div>
    </div>

</div>
